extends ./layout.jade



block content
  .homeBody
    .navBar
      .logout
        a(href='/logout') Logout
    .dashboard
      .roster
        .rosterHeader
          h1= course.name
          h2 #{course.code} - #{course.section}
          h3
            a(href='/course/' + course.id + '/panel') Open Instructor Panel
        .questionHeader
          h3 Questions
        if questions.length > 0
          ul
            each question in questions
              li= question.text
                .delete
                  a(href='/course/' + course.id + '/question/' + question.id + '/delete') Delete
        .newQuestion
          a(href='/course/' + course.id + '/question/new') New question
