extends ./layout.jade

block content
  .navBar
    .logout
      a(href='/logout') Logout
    .createCourse
      a(href='/course/new') New course
  .homeBody
    .dashboard
      if coursesTaught.length > 0
        .roster
          .rosterHeader
            h1 Courses You Teach
          ul
            each course in coursesTaught
              li
                a(href='/course/' + course.id)= course.name

      if coursesTaken.length > 0
        .roster
          .rosterHeader
            h1 Current Courses
          ul
            each course in coursesTaken
              li
                a(href='/remote/' + course.id)= course.name

      if coursesAvailable.length > 0
        .roster
          .rosterHeader
            h1 Available for Registration
          ul
            each course in coursesAvailable
              li
                a(href='/course/' + course.id + '/register')= course.name
