extends ./layout.jade

block content
  a(href='/logout') Logout
  if coursesTaught.length > 0
    h1 Courses you teach
    ul
      each course in coursesTaught
        li= course.name

  if coursesTaken.length > 0
    h1 Courses you are taking
    ul
      each course in coursesTaken
        li
          a(href='/remote/' + course.id)= course.name
