doctype html
html
  head
    title &phi;&gt;clicker
    link(rel='stylesheet', href='/static/css/styles.css')
    script(src='/static/js/react-package.js')
  body
    div(id='remote')
    script(src='/static/js/remote-package.js')
