doctype html
html
  head
    title &phi;&gt;clicker
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    link(rel='stylesheet', href='/css/styles.css')
    block head
  body
    block content
