extends ./layout.jade

block content
  .homeBody
    .roster
      .rosterHeader
        h1 Login
      .login
        form(name='login', action='/login', method='post')
          label(for='username') Username
          input(type='text', class='form-control', name='username', autofocus)
          label(for='password') Password
          input(type='password', class='form-control', name='password')
          input(type='submit', class='btn btn-default', value='Login')
        a(href='/signup') Sign up
