extends ./layout.jade

block content
  .navBar
    input(type='text', name='search', value = "Look up terms!")
    input(type = "submit", id = "searchButton", class = "btn btn-default", value = "Search!")
    .logout
      a(href='/logout') Logout
    .createCourse
      a(href='/course/new') New course
  .homeBody
    .dashboard
      .roster
        .rosterHeader
          h1 New Question
        .login
          form(name='question', action='/course/' + courseId + '/question', method='post')
            label(for='text') Question Text
            input(type='text', class='form-control', name='text', autofocus)
            label(for='aText') A
            input(type='text', class='form-control', name='aText')
            label(for='bText') B
            input(type='text', class='form-control', name='bText')
            label(for='cText') C
            input(type='text', class='form-control', name='cText')
            label(for='dText') D
            input(type='text', class='form-control', name='dText')
            label(for='eText') E
            input(type='text', class='form-control', name='eText')
            input(type='submit', class='btn btn-default', value='Submit')
          input(type = "submit", id = "generate", class = "btn btn-default", value = "Generate")
        script.
          $( "#generate" ).click(function() {
            var query = $("input[name=text]").val();
            var url = "http://localhost:5000/" + query
            $.get(url, function( data ) {
              console.log(data[question]);
              var arr = data['answers']
              $("input[name=text]").val(data['question'])
              $("input[name=aText]").val(arr[0])
              $("input[name=bText]").val(arr[1])
              $("input[name=cText]").val(arr[2])
              $("input[name=dText]").val(arr[3])
              $("input[name=eText]").val(arr[4])

            });
          });
        script.
          $( "#searchButton" ).click(function() {
            var query = $("input[name=search]").val();
            var url = "http://localhost:5000/query/" + query
            console.log(url)
            $.get(url, function( data ) {
              alert(JSON.stringify(data));
            });
          });
