extends ./layout.jade

block content
  .navBar
    .logout
      a(href='/logout') Logout
    .createCourse
      a(href='/course/new') New course
  .homeBody
    .dashboard
      .roster
        .rosterHeader
          h1 New Course
        .login
          form(name='question', action='/course', method='post')
            input(type='text', class='form-control', name='code', placeholder='Course Code (CS 411)', autofocus)
            input(type='text', class='form-control', name='name', placeholder='Course Name (Database Systems)', autofocus)
            input(type='text', class='form-control', name='section', placeholder='Section (Q3)', autofocus)
            input(type='submit', class='btn btn-default', value='Submit')
