extends ./layout.jade

block content
  .homeBody
    .navBar
      .logout
        a(href='/logout') Logout
    .dashboard
      .roster
        .rosterHeader
          h1 New Question
        .makeQuestion
          form(name='question', action='/course/' + courseId + '/question', method='post')
            label(for='text') Question Text
            input(type='text', class='form-control', name='text', autofocus)
            label(for='aText') A
            input(type='text', class='form-control', name='aText')
            label(for='bText') B
            input(type='text', class='form-control', name='bText')
            label(for='cText') C
            input(type='text', class='form-control', name='cText')
            label(for='dText') D
            input(type='text', class='form-control', name='dText')
            label(for='eText') E
            input(type='text', class='form-control', name='eText')
            label(for='correctAnswer') Correct answer
            input(type='radio', name='correctAnswer', value='A')
            span(class='radioLabel') A
            input(type='radio', name='correctAnswer', value='B')
            span(class='radioLabel') B
            input(type='radio', name='correctAnswer', value='C')
            span(class='radioLabel') C
            input(type='radio', name='correctAnswer', value='D')
            span(class='radioLabel') D
            input(type='radio', name='correctAnswer', value='E')
            span(class='radioLabel') E
            input(type='radio', name='correctAnswer', value='')
            span(class='radioLabel') None
            input(type='submit', class='btn btn-default', value='Submit')
