extends ./layout.jade

block head
  script(src='/js/react-package.js')

block content
  div(id='remote')
  script(src='/js/remote-package.js')
  script.
    ReactDOM.render(React.createElement(Remote, {courseId: #{id}, username: '#{username}'}), document.getElementById('remote'));
